<%= render 'shared/banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

    <div class="card-container">
      <% @cocktails.each do |c| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><%= c.name %></h2>
            <p>Review</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <%= link_to "See recipe", cocktail_path(c), class: "card-link" %>
        </div>
      <% end %>

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Add a new cocktail</h2>
          <p>your turn !!</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <%= link_to "Create new cocktail", new_cocktail_path, class: "card-link" %>
        </div>
      </div>
    </div>
  </div>
</div>

